<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CenterSpace.NMath" version="6.2.0.57" targetFramework="net452" />
  <package id="CenterSpace.NMath.Stats" version="4.2.0.57" targetFramework="net452" />
  <package id="DG.AdvancedDataGridView" version="1.1.23503.5" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net452" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.Solver.Foundation" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net452" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net452" />
</packages>